[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch"

[packages]
torch = {version="*", index="pytorch"}
torchvision = {version="*", index="pytorch"}
torchinfo = "*"
numpy = "*"
tqdm = "*"
tensorboard = "*"
ml-collections = "*"

[dev-packages]
pynvim = "*"

[requires]
python_version = "3.10"
